//-------------------------------------------------------------------------------
// Font Base
//-------------------------------------------------------------------------------

// REMS based off 16px body font
// 60px = 6vw if view point is 1000px

$base-large				: 16px; // 18px; 
$base-normal			: 16px; // aka standard
$base-small				: 14px; // 14px;

//-------------------------------------------------------------------------------
// Sizing references
//-------------------------------------------------------------------------------

$spacing-mega			: 10rem; 	 // 160px
$spacing-huge			: 5rem; 	 // 80px
$spacing-big			: 2.5rem; 	 // 40px
$spacing-m-b			: 1.875rem;  // 30px
$spacing-medium			: 1.25rem; 	 // 20px
$spacing-s-m  			: 0.9375rem; // 15px
$spacing-small  		: 0.625rem;  // 10px
$spacing-tiny   		: 0.3125rem; // 5px

//-------------------------------------------------------------------------------
// Font families
//-------------------------------------------------------------------------------

$font-heading				: "Oswald", Arial, serif;
$font-body 					: "Lora", Georgia, sans-serif;

//-------------------------------------------------------------------------------
// Breakpoints
//-------------------------------------------------------------------------------

$bp-tablet		 		: 720px;
$bp-mobile 		 		: 500px;

//-------------------------------------------------------------------------------
// Rounded Corners
//-------------------------------------------------------------------------------

$rounded-corners	 	: 4px;
$rounded-buttons	 	: 2px;

//-------------------------------------------------------------------------------
// Font Sizes
//-------------------------------------------------------------------------------

// 0.5px = 0.03125rem
// 1px = 0.0625rem
// 2px = 0.125rem
// 3px = 0.1875rem
// 4px = 0.25rem
// 5px = 0.3125rem
// 6px = 0.375rem
// 7px = 0.4375rem
// 8px = 0.5rem
// 9px = 0.5625rem
// 10px = 0.625rem
// 11px = 0.6875rem
// 12px = 0.75rem
// 13px = 0.8125rem
// 14px = 0.875rem
// 15px = 0.9375rem
// 16px = 1rem (base)
// 17px = 1.063rem
// 18px = 1.125rem
// 19px = 1.188rem
// 20px = 1.25rem
// 30px = 1.875rem  
// 40px = 2.5rem
