//-------------------------------------------------------------------------------
// Font Base
//-------------------------------------------------------------------------------

// REMS based off 16px body font
// 60px = 6vw if view point is 1000px

$font-huge				: 20px; 
$font-large				: 18px; 
$font-normal			: 16px; // standard
$font-small				: 14px; 

//-------------------------------------------------------------------------------
// Spacing
//-------------------------------------------------------------------------------

// Yup.. I know the un-semantic naming below is frowned upon but the whole
// point of the REM sizing is so the global sizing changes easily on bigger and small 
// screens - all based off the Font Base right at top. So I'm spacing off 1 screen size:

$spacing-5	 			: 0.3125rem; 	// 5px
$spacing-10	 			: 0.625rem; 	// 10px
$spacing-15	 			: 0.9375rem; 	// 15px
$spacing-20	 			: 1.25rem; 		// 20px
$spacing-25	 			: 1.563rem; 	// 25px
$spacing-30	 			: 1.875rem;   	// 30px
$spacing-40	 			: 2.5rem;  		// 40px
$spacing-50	 			: 3.125rem; 	// 50px
$spacing-60	 			: 3.75rem; 		// 60px
$spacing-70	 			: 4.375rem; 	// 70px
$spacing-80	 			: 5rem; 		// 80px
$spacing-90	 			: 5.625rem;		// 90px
$spacing-100 			: 6.25rem; 		// 100px

//-------------------------------------------------------------------------------
// Font families
//-------------------------------------------------------------------------------

$font-heading			: "Oswald", Arial, serif;
$font-body 				: "Lora", Georgia, sans-serif;

//-------------------------------------------------------------------------------
// Breakpoints
//-------------------------------------------------------------------------------

$bp-external			: 1650px;
$bp-desktop				: 1250px;
$bp-tablet		 		: 720px;
$bp-mobile 		 		: 500px;

//-------------------------------------------------------------------------------
// Rounded Corners
//-------------------------------------------------------------------------------

$rounded-corners	 	: 4px;
$rounded-buttons	 	: 2px;

//-------------------------------------------------------------------------------
// Font Size References
//-------------------------------------------------------------------------------

// 0.5px = 0.03125rem
// 1px = 0.0625rem
// 2px = 0.125rem
// 3px = 0.1875rem
// 4px = 0.25rem
// 5px = 0.3125rem
// 6px = 0.375rem
// 7px = 0.4375rem
// 8px = 0.5rem
// 9px = 0.5625rem
// 10px = 0.625rem
// 11px = 0.6875rem
// 12px = 0.75rem
// 13px = 0.8125rem
// 14px = 0.875rem
// 15px = 0.9375rem
// 16px = 1rem (base)
// 17px = 1.063rem
// 18px = 1.125rem
// 19px = 1.188rem
// 20px = 1.25rem
