/* --- Globals --- */

//-------------------------------------------------------------------------------
// Setting the rems globally
//-------------------------------------------------------------------------------

html {
	font-size: $font-normal;
}

@media (min-width: $bp-external) {
	html { 
		font-size: $font-huge; 
	}
}

@media (min-width: $bp-desktop) and (max-width: $bp-external) {
	html { 
		font-size: $font-large; 
	}
}

@media (max-width: $bp-mobile) {
	html { 
		font-size: $font-small;
	}
}

//-------------------------------------------------------------------------------
// General styles
//-------------------------------------------------------------------------------

html {
	margin: 0;
	padding: 0;
	height: 100%;
}
ul {
	margin: 0;
	padding: 0;
	margin: 0 0 $spacing-20 1.563rem; // 20 25
	
	li {
		list-style-type: circle;
		padding: 0 0 $spacing-10 $spacing-5;
	}
}
ol {
	margin: 0;
	padding: 0;
	margin: 0 0 $spacing-20 1.563rem; // 0 0 20 25

	li {
		list-style-type: decimal;
		padding: 0 0 $spacing-10 0;
	}
}
li {
	margin: 0;
	padding: 0;
}
body {
	font-size: 0.875rem; // 14
	line-height: 1.375rem; // 22
	line-height: 100%;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
	img {
		border: none;
		vertical-align: top; 
	}
}
img {
	&.alignright {
		margin: $spacing-10 0 0 $spacing-20;
		float: right;
	}
	&.alignleft {
		margin: $spacing-10 $spacing-20 0 0;
		float: left;
	}
	&.aligncenter {
		clear: both;
		display: block;
		margin: 0 auto $spacing-10 auto;
	}
}
.relative {
	position: relative;
}
p {
	margin-bottom: $spacing-20;
}
b {
	font-weight: bold;
}
strong {
	font-weight: bold;
}
.clear {
	clear: both;
}
h4 {
	margin: 0 0 $spacing-10 0;
}
h5 {
	margin: 0 0 $spacing-10 0;
}
h6 {
	margin: 0 0 $spacing-10 0;
}
i {
	font-style: italic;
}
em {
	font-style: italic;
}
hr {
	border: none;
	border-bottom: 1px dotted;
	margin: $spacing-20 0;
}
del {
	text-decoration: line-through;
}
*:focus { // Removes Yellow from forms
	outline: none;
}

//-------------------------------------------------------------------------------
// Make those fonts sexy
//-------------------------------------------------------------------------------

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "liga" on;
  margin: 0;
}

//-------------------------------------------------------------------------------
// WordPress requirements
//-------------------------------------------------------------------------------

.sticky, 
.gallery-caption, 
.bypostauthor,
.screen-reader-text {
	display: default; 
}

// Pagination required by WP but not needed
.pagination {
	display: none;
}

video, 
iframe {
	width: 100%;
}


