/* --- Containers --- */

//-------------------------------------------------------------------------------
// Home, Archives
//-------------------------------------------------------------------------------

#content {
	width: 37.5rem; // 600
	margin: 0 auto;  
	padding: 0 0 4.688rem 0; // 0 0 75 0
	margin-top: $spacing-100; // 100 

	@media (max-width: $bp-tablet) {
		width: auto; 
		max-width: 90%; 
		padding-bottom: 0; 
		margin-top: 0; 
	}

	a {
		transition-duration: 0.3s;
	}
	a:hover {
		transition-duration: 0.1s;
	}

	.post,
	.page {
		padding: $spacing-60 0 1.563rem 0; // 60 0 25 0
		margin: 0 0 0 0; 
		width: 37.5rem; // 600
		border-top: 1px solid #FFFFFF; 
		box-shadow: 0 -1px 0 #DDDDDD;

		@media (max-width: $bp-tablet) {
			clear: both;
			max-width: 100%;
		}

		.post-date {
			font-size: 0.6875rem; // 11
			line-height: 0.6875rem; // 11
			text-transform: uppercase; 
			margin-bottom: $spacing-5; 
			letter-spacing: 0.03125rem; // .5
		}

		.post-title {
			margin-bottom: 2.188rem; // 35

			h2 {
				margin-top: 0;
				font-weight: 600; 
				letter-spacing: -1px; // -1
				font-size: 2.5rem; // 40
				line-height: 2.875rem; // 46
			}
		}

		.post-content {
			font-size: 1.188rem; // 19
			line-height:  1.813rem;  // 29
			margin: 0;
			padding: 0;
		}

		p {
			font-size: 1.188rem; // 19
			line-height: 1.875rem; // 30  
			margin: 0 0 2.188rem 0; // 0 0 35 0
			padding: 0; 
			letter-spacing: -0.00625rem; // -0.1
		}

		h2 {
			font-size: 1.75rem; // 28
			line-height: 2rem;  // 32
			margin: 3.75rem 0 1.875rem  0; // 60 0 30 0
			letter-spacing: -0.0625rem; // -1
		}

		h3 {
			font-size: 1.5rem; // 24
			line-height: 1.75rem; // 28 
			margin: 3.125rem 0 $spacing-20 0; // 50 0 20 0
			letter-spacing: -0.0625rem; // -1
		}

		h4 {
			font-size: 1.25rem; // 20
			line-height: 1.5rem;  // 24
			margin: $spacing-40 0 $spacing-10 0; 
			letter-spacing: -0.0625rem; // -1
		}

		img {
			max-width: 36.25rem; // 580
			height: auto;  
			padding: $spacing-10;  
			box-shadow: 0 0 $spacing-5 0 #EEE;

			@media (max-width: $bp-tablet) {
				max-width: 94%;
			}

		}

		.wp-caption {
			text-align: center;
			max-width: 100%;

			@media (max-width: $bp-tablet) {
				max-width: 94%;
			}

		}

		p.wp-caption-text {
			opacity: 0.5; 
			font-size: 1rem; // 16
			line-height: 1.125rem; // 18
			padding: $spacing-5 0; 
		}

		blockquote {
			font-style: italic; 
			padding: 0 0 0 $spacing-20; 
			margin: $spacing-40 0 $spacing-40 $spacing-20;
			border-left: 1px dotted #999;
			letter-spacing: -0.0625rem; // -1
		}

	}

}

//-------------------------------------------------------------------------------
// AJAX Load Button
//-------------------------------------------------------------------------------

#pbd-alp-load-posts a:link, 
#pbd-alp-load-posts a:visited {
	display: block;  
	width: 18.75rem; // 300 
	margin: 0 auto $spacing-100 auto;	
	text-align: center;	
	padding: $spacing-10 0.4375rem 0.875rem 0.4375rem; // 10 7 14 7
	border: none; 
	background: #F5F5F5; 
	font-size: 0.875rem; // 14
	line-height: 0.875rem; // 14
	color: #999;
	letter-spacing: 1px;
	text-decoration: none;   
	text-transform: uppercase; 
	border-top: 1px solid #FFF; 
	border-bottom: 1px solid #E5e5e5;
	border-radius: $rounded-corners;
}
#pbd-alp-load-posts a:hover, 
#pbd-alp-load-posts a:active {
	background-color: #FFFFFF; 
	color: #333;
}

//-------------------------------------------------------------------------------
// Single Posts
//-------------------------------------------------------------------------------

// Reuses all archive styles

body.single #content .post,
body.page #content .page { 
	border-top: 0;
	box-shadow: 0 0 0;
	padding-top: 0;

	@media (max-width: $bp-tablet) {
		padding-top: $spacing-60; 
	}
}

.return {
	font-size: 0.75rem; // 12
	line-height: 0.75rem; // 12
	text-transform: uppercase; 
	margin-top: $spacing-50; // 50
	margin-bottom: $spacing-50; // 50
}

//-------------------------------------------------------------------------------
// Search Results
//-------------------------------------------------------------------------------

// Note: the 100 search results are set in functions.php

#search-page #search-header #search-term {
	letter-spacing: -2px; // -2
	font-size: 2rem; // 32
	line-height: 2rem; // 32

	&.archive-term {
		display: block;
		margin-bottom: $spacing-40;
	}
}

#search-page #search {
	padding: $spacing-20 0; 
	border-top: 1px solid rgba(255, 255, 255, .15);
	-webkit-background-clip: padding-box;   
	background-clip: padding-box;

	#search-form #search-field {
		border: none; 
		background-color: #EEE; 
		color: #111; 
		height: $spacing-20; 
		width: 94%; 
		padding: 0.25rem $spacing-10 0.375rem $spacing-10; // 4 10 6 10
		font-size: 0.75rem; // 12
	}

	#search-form #search-button {
		display: none;
	}
}

#search-page .archive-post {
	border-bottom: 1px solid #EEE; 
	padding: 0 0 $spacing-10 0; 
	margin: $spacing-10 0 $spacing-10;

	.archive-date {
		font-size: 0.625rem; // 10
		line-height: 0.625rem; // 10
		text-transform: uppercase; 
		letter-spacing: 0.03125rem; // .5
		color: #999;
	}
	.archive-title {
		font-size: 1.125rem; // 18
		line-height: 1.375rem; // 22
		margin: 0; 
	}
}

// Hide AJAX load post button in search results, a hack I know:/
body.search-results #pbd-alp-load-posts {
	display: none;
}


