/* --- Containers --- */

//-------------------------------------------------------------------------------
// Home, Archives
//-------------------------------------------------------------------------------

#content {
	width: 600px; 
	margin: 0 auto;  
	padding: 0 0 75px 0; 
	margin-top: 100px;

	a {
		transition-duration: 0.3s;
	}
	a:hover {
		transition-duration: 0.1s;
	}

	.post {
		padding: 60px 0 25px 0; 
		margin: 0 0 0px 0; 
		width: 600px;
		border-top: 1px solid #FFFFFF; 
		box-shadow: 0 -1px 0 #DDDDDD;

		.post-date {
			font-size: 11px; 
			line-height: 11px; 
			text-transform: uppercase; 
			margin-bottom: 5px; 
			font-weight: 300; 
			letter-spacing: 0.5px;
		}

		.post-title {
			margin-bottom: 35px;

			h2 {
				margin-top: 0;
				font-weight: 700; 
				letter-spacing: -1px; 
				font-size: 40px; 
				line-height: 46px;
			}
		}

		.post-content {
			font-size: 19px; 
			line-height: 29px;  
			margin: 0;
			padding: 0;
		}

		p {
			font-size: 19px; 
			line-height: 30px;  
			margin: 0 0 35px 0; 
			padding: 0; 
			letter-spacing: 0px;
		}

		h2 {
			font-size: 28px; 
			line-height: 32px;  
			margin: 60px 0 30px 0; 
			letter-spacing: -1px;
		}

		h3 {
			font-size: 24px; 
			line-height: 28px;  
			margin: 50px 0 20px 0; 
			letter-spacing: -1px;
		}

		h4 {
			font-size: 20px; 
			line-height: 24px;  
			margin: 40px 0 10px 0; 
			letter-spacing: -1px;
		}

		img {
			max-width: 580px; 
			height: auto;  
			padding: 10px;  
			box-shadow:0px 0px 5px 0px #EEE;
		}
		.wp-caption {
			text-align: center;
		}
		p.wp-caption-text {
			opacity: 0.5; 
			font-size: 16px; 
			line-height: 18px; 
			padding: 5px 0; 
		}

		blockquote {
			letter-spacing: -0.1px; 
			font-style: italic; 
			padding: 0 0 0 20px; 
			margin: 40px 0 40px 20px;
			border-left: 1px dotted #999;
		}

	}

}


//-------------------------------------------------------------------------------
// AJAX Load Button
//-------------------------------------------------------------------------------

#pbd-alp-load-posts a:link, 
#pbd-alp-load-posts a:visited {
	display: block;  
	width: 300px;  
	margin: 0 auto 100px auto;	
	text-align: center;	
	padding: 10px 7px 14px 7px; 
	border: none; 
	background: #F5F5F5; 
	font-size: 14px; 
	line-height: 14px; 
	color: #999;
	letter-spacing: 1px;
	text-decoration: none;   
	text-transform: uppercase; 
	border-top: 1px solid #FFF; 
	border-bottom: 1px solid #E5e5e5;
	border-radius:  4px;
}
#pbd-alp-load-posts a:hover, 
#pbd-alp-load-posts a:active {
	background-color: #FFFFFF; 
	color: #333;
}

//-------------------------------------------------------------------------------
// Single Posts
//-------------------------------------------------------------------------------

// Reuses all archive styles

body.single #content .post { 
	border-top: 0;
	box-shadow: 0 0 0;
	padding-top: 0;
}

.return {
	font-size: 12px; 
	text-transform: uppercase; 
	margin-bottom: 50px;
}

//-------------------------------------------------------------------------------
// Search Results
//-------------------------------------------------------------------------------

// Note: the 100 search results are set in functions.php

#search-page #search-header #search-term {
	letter-spacing: -2px; 
	font-size: 32px;
}
#search-page #search {
	padding: 20px 0; 
	border-top: 1px solid rgba(255, 255, 255, .15);
	-webkit-background-clip: padding-box;   
	background-clip: padding-box;

	#search-form #search-field {
		border: none; 
		background-color: #EEE; 
		color: #111; 
		height: 20px; 
		width: 94%; 
		padding: 4px 10px 6px 10px; 
		font-size: 12px;
	}

	#search-form #search-button {
		display: none;
	}
}

#search-page .archive-post {
	border-bottom: 1px solid #EEE; 
	padding: 0px 0 10px 0; 
	margin: 10px 0 10px;

	.archive-date {
		font-size: 10px; 
		line-height: 10px; 
		text-transform: uppercase; 
		font-weight: 300; 
		letter-spacing: 0.5px; 
		color: #999;
	}
	.archive-title {
		font-size: 18px; 
		line-height: 22px; 
		margin: 0; 
	}
}

// Hide AJAX load post button in search results, a hack I know:/
body.search-results #pbd-alp-load-posts {
	display: none;
}


